* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: 000000;
	font-family: "Roboto", Arial, Sans-Serif;

}

.container{
	width: 500px;
	height: 290px;
	border: 2px dashed #999;
	margin: 50px 0;
	padding: 5px;
	position: absolute;
	top: 60px;
	left: 10px;
}

.box{
	width: 120px;
	height: 90px;
	background-color: lightblue;
        position: absolute;
	top: 50px;
	left: 40px;
	padding: 10px;
	border-radius: 3px;	
}

.empty-box{
	width: 40px;
	height: 40px;
	background-color: lightpink;
	padding: 10px;
	border-radius: 5px;
}

.fixed-area{
	padding: 15px 25px;
	background-color: #333;
	color: #fff;
	border-radius: 8px;
	font-size: 14px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.container2{
	border: 2px solid #ddd;
	padding: 20px;
	max-width: 600px;
}

.titulo-sticky{
	position: sticky;
	top: 0px;
	background-color: #fff;
	padding: 10px;
	font-size: 25px;
	border-bottom: 2px solid #ccc;

}

.caixa {
	width: 65%;
	margin: 30px;
	display: block;
	padding: 50px;
	background-color: #00fdd0; 
	transition: all 1s ease;
}

.caixa:hover{
	transform: scale(1.2) rotate(10deg);
	background-color:#ff00df;
	border-radius: 7px;
	box-shadow: 7px 7px 7px 7px black;
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.caixa2{
	width: 65%;
	margin: 30px;
	padding: 50px;
} 

.caixa2:hover{
	transform: scale(1.2) rotate(10deg);
	background-color: #7c4dbd;
	transition: transform 0.4 ease;
	box-shadow: 0.4s;
	transition: all 1s;
}

.caixa3{
        width: 95px;
	height: 95px;
        margin: 50px;
        padding: 30px;
	background-color: #ffdaad;
	animation: girar 3s linear infinite;
}

@keyframes girar{
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}

}

.caixa3:hover{
	0% {transform: rotate(0deg);}
        50% {transform: rotate(180deg);}
        100% {transform: rotate(360deg);}
}
